:root {
  --clr-sys-warning: #FFBA08;
  --clr-sys-success: #22C55E;
  --clr-sys-error: #EF4444;
  --container-padding: .5rem;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}